body {
  margin: 0;
  font-family: Arial;
  background: #ffe6eb;
  text-align: center;
}

.screen {
  display: none;
  height: 100vh;
  padding-top: 100px;
}

.active {
  display: block;
}

button {
  padding: 15px 25px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
}

#noBtn {
  position: absolute;
}
